/build*/
/generated-docs/
.cache/
.ccls-cache/
.exrc
compile_commands.json
/subprojects/packagecache
/subprojects/doctest-*
/subprojects/libevent-*/
/subprojects/spdlog-*/
/subprojects/curl-*/
/subprojects/packagecache/
/*.pem
